<?xml version="1.0" encoding="windows-1252" ?>
<adfc-mobile-config xmlns="http://xmlns.oracle.com/adf/controller" version="1.0">
  <task-flow-definition id="SpringboardTF">
    <default-activity>Springboard</default-activity>
    <view id="Springboard">
      <page>/pages/setup/Springboard.amx</page>
    </view>
    <page-flow-scope-behavior>
      <push-new/>
    </page-flow-scope-behavior>
  </task-flow-definition>
</adfc-mobile-config>
